@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(111, 66, 245);
}

.todo {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 350px;
  border-radius: 7%;
  min-height: 400px;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
}

.ml {
  margin-left: 7px;
}

form {
  display: flex;
  width: 100%;
  margin: 20px auto;
  justify-content: space-between;
}

form input {
  width: 85%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

::placeholder {
  font-size: 15px;
  letter-spacing: 2px;
  color: #b1a9a9;
}

form button {
  background-color: rgb(111, 66, 245);
  border: 1px solid #999;
  width: 42px;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px;
  color: #ffffff;
}

button:hover {
  background-color: #000000;
  border-color: #000000;
  color: #ffff;
}